html {
  --dark: #222;
  --light: #ddd;
  background-color: var(--dark);
  color: var(--dark);
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.reversed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
