element {
  --dark: #000;
  --light: #ddd;
}

html {
  background-color: var(--dark);
}

table {
  border-collapse: collapse;
}
tr {
  border: none;
}
td {
  border-right: solid 1px var(--light);
  border-left: solid 1px var(--light);
}
